.theme-jsfjsf {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.theme-jsfjsf .fade-in-linear-enter-active, .fade-in-linear-leave-active {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear
}

/* 添加班级修改课表 */

.theme-jsfjsf __eid__el-main__ .el-main {
  overflow: auto !important;
  overflow-x: auto;
  overflow-y: auto;
  height: auto !important;
}

.__eid__el-main__ .el-main {
  overflow: auto !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
  height: auto !important;
}

.theme-jsfjsf .el-col-12 {
  width: 100%
}
